<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Admin Portal | UptownID</title>

	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>

<body>
	<header>
		<!-- put the navbar info here -->
	</header>
	<div class="container">
		<h1 class="main-header">Admin Portal</h1>
		<div id="error-container">
			{{#adminError}}<p id="adminError">{{adminError}}</p>{{/adminError}}
		</div>
		<div class="grid-container">
			<div id="color-container" class="form-wrapper">
				<h2>Manage Colors</h2>

				<b>Add Color:</b>
				<form id="addColorForm" action="/newColor" method="POST" enctype="multipart/form-data">
					<input name="colorName" type="text" autocomplete="off" placeholder="Enter color name..."/>
					<input type="file" id="colorIcon" name="colorIcon" accept=".png, .jpeg, .jpg"/>
					<input id="submitAddColor" class="submit-button" type="submit" value="Create New Color"/>
				</form>

				{{#colorsExist}}
					<b> Remove Color:</b>
					<form id="deleteColorForm" action="/removeColor" method="POST">
						<select name="cid" class="icon_select">
							{{#colors}}
							<option value="{{cid}}">{{friendlyName}}</option>
							{{/colors}}
						</select>
						<input id="submitDeleteColor" class="delete-buttons" type="submit" value="Delete Color">
					</form>
				{{/colorsExist}}

				{{#colorError}}<p class="error">{{colorError}}</p>{{/colorError}}
				{{#colorSuccess}}<p class="success">{{colorSuccess}}</p>{{/colorSuccess}}
			</div>

			<div id="material-container" class="form-wrapper">
				<h2>Manage Materials</h2>

				<b>Add Material:</b>
				<form id="addMaterialForm" action="/newMaterial" method="POST" enctype="multipart/form-data">
					<input name="materialName" type="text" autocomplete="off" placeholder="Enter material name..."/>
					<input type="file" id="materialIcon" name="materialIcon" accept=".png, .jpeg .jpg"/>
					<input id="submitAddMaterial" class="submit-button" type="submit" value="Create New Material"/>
				</form>

				{{#materialsExist}}
					<b> Remove Material:</b>
					<form id="deleteMaterialForm" action="/removeMaterial" method="POST">
						<select name="mid" class="icon_select">
							{{#materials}}
							<option value="{{mid}}">{{friendlyName}}</option>
							{{/materials}}
						</select>
						<input id="submitDeleteMaterial" class="delete-buttons" type="submit" value="Delete Color">
					</form>
				{{/materialsExist}}

				{{#materialError}}<p class="error">{{materialError}}</p>{{/materialError}}
				{{#materialSuccess}}<p class="success">{{materialSuccess}}</p>{{/materialSuccess}}
			</div>

			<div id="shoe-container" class="form-wrapper">
				<h2>Manage Shoes</h2>
				<div class="tabs">
					<ul class="tab-links">
						<li class="active"><a href="#add-shoe">Add Shoe</a></li>
						<li><a href="#edit-shoe">Edit Shoe</a></li>
					</ul>

					<div class="tab-content">
						<div id="add-shoe" class="tab active">
							<h3 id="shoe-title">Add Shoe:</h3>

							<div id="shoe-form-container">
								<form id="addShoeForm" action="/newShoe" method="POST" enctype="multipart/form-data">
									<input name="shoeName" id="shoeName" type="text" autocomplete="off" placeholder="Enter shoe name..."/>
									<input name="shoeSvgFile" id="shoeSvgFile" type="file" accept=".svg"/>
									<input id="submitAddShoe" class="submit-button" type="submit" value="Create New Shoe"/>
								</form>
								{{#shoeError}}<p class="error">{{shoeError}}</p>{{/shoeError}}
							</div>

							<div id="parts" style="display:none;"></div>
							<div id='default-img-container' style="display:none;"></div>
							<div id="shoe-svg-container">
								<object id="shoe-svg"></object>
								<img class="draggable_img" id="default-img"/>
							</div>
						</div>
						<div id="edit-shoe" class="tab">
							<b>Edit Shoe:</b>
							<!-- Js scripty magic here boys -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- include the interactor script -->
	<script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
	<!-- include jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<!-- include extra jquery form featurs for ajax for upload -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js"></script>
	<!-- include mustache to help render dynamically loaded content -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
	<!-- include fontawesome icons -->
	<script src="https://kit.fontawesome.com/4fc5b88703.js"></script>
	<!-- include the admin script -->
	<script src="/js/admin.js"></script>

</body>
</html>