.submit-button {
	color: white;
	border: none;
 	box-shadow: none;
	padding: 0.25vw;
	border-radius: 3px;
	background-color: #3399ff;
	font-size: 13px;
}

.submit-button:hover {
	cursor: pointer;
	background-color: #66b3ff;
}

.delete-buttons {
	color: white;
	border: none;
 	box-shadow: none;
    padding: 0.25vw;
    border-radius: 3px;
    font-size: 13px;
    background-color: #ff3333;
}

.delete-buttons:hover {
	cursor: pointer;
	background-color: #ff4d4d;
}

select {
    background-color: #e6e6e6;
    font-family: 'Averia Sans Libre';
    font-size: 14px;
    border: none;
    padding: 0.125vw;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 0.5vw;
}

.grid-container{
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	grid-column-gap: 2.5vw;
	grid-row-gap: 2.5vw;
 }

 .form-wrapper{
 	padding:1vw;
 	background-color: #FAFAFA;
 	text-align: center;
 	box-shadow: 0 0 1vw #949494;
 	border-radius: 25px;
 }

 .form-wrapper h2{
 	margin:0;
 }

 #shoe-container{
 	grid-column-start: 1;
 	grid-column-end: 3;
 }

.tabs {
	width:100%;
	display:inline-block;
}

.tab-links{
	margin-top: 0.5vw;
	margin-bottom: 0;
	padding: 0;
}

.tab-links:after {
	display:block;
	clear:both;
	content:'';
}

.tab-links li {
	margin: 0;
	float:left;
	list-style:none;
}

.tab-links a {
	text-decoration: none;
	margin: 0;
	padding:0.5vw 0.75vw;
	display:inline-block;
	border-radius:0.15vw 0vw 0vw 0vw;
	background:#7FB5DA;
	font-size:16px;
	font-weight:600;
	color:#4c4c4c;
	transition:all linear 0.15s;
}

.tab-links a:hover {
	background:#A7CCE5;
	text-decoration:none;
}

li.active a, li.active a:hover {
	background:#FFFFFF;
	color:#4C4C4C;
}

/*----- Content of Tabs -----*/
.tab-content {
	padding:0.75vw;
	border-radius:0.15vw;
	background:#FFFFFF;
}

.tab {
	display:none;
}

.tab.active {
	display:block;
}

#add-shoe{
	position: relative;
}

#shoe-svg{
	width: 45vw;
}

.error{
	text-align: center;
	color: red;
}

.success{
	text-align: center;
	color:  green;
}

#shoe_title{
	text-align: center;
}

#refresh-parts{
	position: absolute;
	top: 0;
	right: 0;
}