#editor{
	margin: auto;
	position: relative;
	width:60vw;
}

.draggable_img{
	position: absolute;
}

svg, svg * {
	pointer-events:all;
}

path{
	fill: none;
	stroke: black;
}

path:hover{
	fill: green;
	stroke: red;
}

object{
	z-index: -1;
}

img{
	z-index: 0;
}