<h4 id="default_image_title">Set default image for the {{part_name}}</h4>

<form class="addNewDefaultImage" action="/newDefaultImage" method="POST" enctype="multipart/form-data">
	<input id="shoe_id" name="shoe_id" value="{{shoe_id}}" type="hidden"/>
	<input id="part_id" name="part_id" value="{{part_id}}" type="hidden"/>
	<input id="part_name" name="part_name" value="{{part_name}}" type="hidden"/>  

	<label for="default_color">Image color: {{color.friendlyName}}</label>
	<input id="default_color" name="default_color" value="{{color.cid}}" type="hidden"/>

	<label for="default_material">Image material: {{material.friendlyName}}</label>	
	<input id="default_material" name="default_material" value="{{material.mid}}" type="hidden"/>

	<input id="default_img_file" name="default_img_file" type="file" accept=".png, .jpeg .jpg"/>

	<label class="after_img" for="img_x">x:</label>
	<input class="after_img" id="img_x" name="img_x" value="0" type="text"/>

	<label class="after_img" for="img_y">y:</label>
	<input class="after_img" id="img_y" name="img_y" value="0" type="text"/>

	<label class="after_img" for="img_width">Width:</label>
	<input class="after_img"id="img_width" name="img_width" value="0" type="text"/>

	<label class="after_img" for="img_height">Height:</label>
	<input class="after_img" id="img_height" name="img_height" value="0" type="text"/>

	<label class="after_img" for="price">Price:</label>
	<p class="after_img">$<input class="after_img" id="price" name="price" value="0" type='text'/></p>

	<input class="submit-button" name="default_img_submit" type='submit'/>
</form>

<div id="partMetaError"></div>